.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
}
.background_img {
  background: url(/images/work.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background_ltBlue {
  background-color: #b0d2ff;
}
.page_container {
  width: 100%;
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 32px;
}

.right {
  text-align: right;
  padding: 80px 80px 0px 0px;
}

.center {
  text-align: center;
}

.mar_30 {
  margin: 30px;
}

.full-bg-size {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* .bg-dim {
  width: 100%;
  height: 100%;
  position: fixed;
} */

/* .bg-view {
  width: 100vw;
  height: 100vh;
  position: fixed;
} */

.text-center {
  text-align: center;
}

.color-lightblue {
  color: #a6ebfa;
}

.float-right {
  float: right;
}

.font-48 {
  font-size: 48px;
}

.font-32 {
  font-size: 32px;
}

.bgColor-purple {
  background-color: #1b0a37;
}

.bgColor-ltblue {
  background-color: #b0d2ff;
}

.flex-endRight {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
}
.pad-20lr {
  padding: 0px 20px;
}

.right {
  justify-items: right;
}
.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}
.bouton-image:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
  background-color: transparent;
  background-position : center center;
  background-repeat:no-repeat;
}
.top-left {
  top: 12%;
  left: 0;
}

.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.top-right {
  top: 12%;
  right: 0;
}

.mid-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.mid-center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mid-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.monBouton:before{
   background-image : url(https://drive.google.com/uc?export=view&id=1nAS9ShKsY1sIdbv_x5Sxc_5tavUFLdEQ);
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;

